h3 {
    font-size: 24px;
}

.course {    
    position: relative;
    width: 1320px;
    margin: 0 auto;
    @media (max-width: 1280px){
        width: 995px;
      }
    &__wrapper {
        display: flex;
        justify-content:center;
        align-items:center;
        font-size: 25px;
    }
    &__book1 {
        margin-right: 80px;
        height: 469px;
        width: 456px;
        @media (max-width: 1280px){
            height: 352px;
            width: 362px;
          }
    }
    &__book2 {
        margin-left: 80px;
        height: 474px;
        width: 474px;
        @media (max-width: 1280px){
            height: 358px;
            width: 368px;
          }
        
    }
}
